<% provide(:title, "Home") %>
<div class="container">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <%= link_to "restaurant", root_path, id: "logo" %>
        <div id="item-right" class="nav justify-content-end">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-link" >home</li>
                <li class="nav-link" >carte</li>
                <li class="nav-link" >reservation</li>
                <li class="nav-link">sign up</li>
            </ul>
        </div>
    </nav>
</div>
