
<footer class="footer">
  <small >
    The Search resto App</a>
    by <a href="#">Me</a>
  </small>
  <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-link"><%= link_to "About", about_path %></li>
      <li class="nav-link"><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>